<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="SLMDBEntities" connectionString="metadata=res://*/SLMDB.csdl|res://*/SLMDB.ssdl|res://*/SLMDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=SLMDB;persist security info=True;user id=sa;password=p45862188;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="SLMDBEntities" connectionString="metadata=res://*/SLMDB.csdl|res://*/SLMDB.ssdl|res://*/SLMDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=SLMDB;persist security info=True;user id=sa;password=1234;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>