<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <pages>
          <controls>
            <add tagPrefix="act" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
          </controls>
        </pages>
        <authentication mode="Forms">
          <forms loginUrl="Login.aspx" protection="All" name=".COCManagement" timeout="60" cookieless="UseDeviceProfile" defaultUrl="COC_SCR_004.aspx" slidingExpiration="true" enableCrossAppRedirects="false" requireSSL="false"/>
        </authentication>
        <authorization>
          <deny users="?"/>
        </authorization>
    </system.web>
    <location path="Styles">
      <system.web>
        <authorization>
          <allow users="*"/>
        </authorization>
      </system.web>
    </location>
    <location path="Images">
      <system.web>
        <authorization>
          <allow users="*"/>
        </authorization>
      </system.web>
    </location>
    <location path="Scripts">
      <system.web>
        <authorization>
          <allow users="*"/>
        </authorization>
      </system.web>
    </location>
    <appSettings>
      <add key="LoginDomain" value="kiatnakinbank.com"/>
      <add key="GridviewPageSize" value="10"/>
      <add key="log4net.Config" value="Log.config" />
      <add key="SLMDBName" value="SLMDB"/>
      <add key="EmailTemplatePath" value="D:\\EmailTemplate.txt" />
      <add key="SendEmailLastOwner" value="Y" />
      <add key="TextMaxLength" value="4000" />
      <add key="DisplayCampaignDescMaxLength" value="100" />
      <add key="AdamlUrl" value="http://10.192.1.197/index.php?r=webservices/load" />
      <add key="AolSummaryReportlUrl" value="http://10.3.100.71:8001/hpaolsummaryreport/default.aspx" />
      <add key="SnapReportDateRange" value="50"/>
      
      <add key="ReportServer" value="http://10.3.112.68/reportserver" />
      <add key="ReportPath" value="/CentralizeOperationCenterReport/" />
      <add key="ReportUser" value="crm_ocscluster" />
      <add key="ReportDomain" value="kkbank" />
      <add key="ReportPass" value="passw0rd" />
    </appSettings>
    <connectionStrings>
      <!--<add name="SLMDBEntities" connectionString="metadata=res://*/SLMDB.csdl|res://*/SLMDB.ssdl|res://*/SLMDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=SLMDB;persist security info=True;user id=sa;password=p45862188;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
      <add name="SLMDBEntities" connectionString="metadata=res://*/SLMDB.csdl|res://*/SLMDB.ssdl|res://*/SLMDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=SLMDB;persist security info=True;user id=sa;password=1234;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>
